@model StudentCity.BL.Dtos.ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <form asp-action="ResetPassword" class="ResetPassword-form">
                <input type="hidden" value="@ViewBag.code" name="Code" />
                <div class="login-wrap form-common">
                    <div class="title text-center">
                        <h3 class="text-coffee">Reset Password</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="password" id="PasswordInput" onkeyup="IsPassword('PasswordInput',1)" name="Password" placeholder="Password" class="input-fields" data-val-required="The Password field is required." required data-valmsg-replace="true" />
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="password" name="ConfirmPassword" id="ConfirmPasswordInput" onkeyup="IsPassword('ConfirmPasswordInput',2)" placeholder="Confirm Password" class="input-fields" data-val-required="The Confirm Password field is required." required data-valmsg-replace="true" />
                        </div>
                        <span class="text-danger field-validation-valid"
                              data-valmsg-for="confirmPassword" data-valmsg-replace="true"></span>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" name="submit" class="button-default button-default-submit" value="Save" />
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
@section scripts

    {
    <script>
        function IsPassword(inputId,index) {
            // To check a password between 6 to 20 characters which contain
            // at least one numeric digit, one uppercase and one lowercase letter
            var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if (($("#" + inputId).val()).match(passw)) {
                if (index == 2) {
                    if ($("#" + inputId).val() == $("#PasswordInput").val()) {
                        $("#" + inputId).css("border-color", "#0e90a5");
                    }
                    else {
                        $("#" + inputId).css("border-color", "red");
                    }
                }
                else {
                    $("#" + inputId).css("border-color", "#0e90a5");
                }
                
            }
            else {
                $("#" + inputId).css("border-color", "red");
                // Warning("Please write litters Only");
            }
        }
    </script>
}
