@using StudentCityUI.Resources
@{
  ViewData["Title"] = "About US";
}

<div class="main-part">
  <!-- Start Breadcrumb Part -->
  <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('/images/breadbg1.jpg');">
    <div class="container">
      <div class="breadcrumb-inner">
        <h2>About Us</h2>
        <a href="#">Home</a>
        <span>About Us</span>
      </div>
    </div>
  </section>
  <!-- End Breadcrumb Part -->
  <!-- Start Welcome Part -->
  <section class="welcome-part home-icon wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
    <section id="aboutUs" class="welcome-part home-icon">
      <div class="icon-default">
        <a href="#reach-to" class="scroll"><img src="/images/scroll-arrow.png" alt="" /></a>
      </div>
      <div class="container">
        <div class="build-title">
          <h2>@Resource.welcomeTo</h2>
          <!--<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>-->
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="aboutUsDesc">@Resource.welcomeToDescription</p>
            <p class="aboutUsDesc">@Resource.signture</p>
            <p>@*<a href="#" class="btn-black">LEARN MORE</a>*@</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="/images/logos/logos.png" alt="" />
          </div>
        </div>
      </div>
      <div class="float-main">
        <div class="icon-top-left">
          <img src="/images/icon1.png" alt="" />
        </div>
        <div class="icon-bottom-left">
          <img src="/images/icon2.png" alt="" />
        </div>
        <div class="icon-top-right">
          <img src="/images/icon3.png" alt="" />
        </div>
        <div class="icon-bottom-right">
          <img src="/images/icon4.png" alt="" />
        </div>
      </div>
    </section>
  </section>
  <!-- End Welcome Part -->
  <!-- Start Food Hours -->
</div>