@using StudentCityUI.Resources

<section class="default-section contact-part">
  <div class="container">
    <div class="title text-center">
      <h2 class="text-coffee">Not Authorized</h2>
      <div class="error-404-title">4 <img src="/images/404.png" alt="" /> 4</div>
      <h2>Yoy are not authorized</h2>
      <p>Sorry, We couldn't find the page you're looking for.
        <br> Try returning to the <a href="/Home/Index"><span> home page</span></a></p>
    </div>
    
    
  </div>
</section>
 
 