@model StudentCity.BL.Dtos.ChangePasswordDto
@{
  ViewData["Title"] = "Change Password";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
           
                <form asp-action="ChangePassword" class="ChangePassword-form">
                    <div class="form-common">
                        <div class="title text-center">
                            <h3 class="text-coffee">Change Password</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="password" name="OldPassword" placeholder="Old Password" class="input-fields" data-val-required="The Password field is required." required data-valmsg-replace="true" />
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="password" name="NewPassword" placeholder="New Password" class="input-fields" data-val-required="The Password field is required." required data-valmsg-replace="true" />
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="password" name="ConfirmPassword" placeholder="Confirm Password" class="input-fields" data-val-required="The Confirm Password field is required." required data-valmsg-replace="true" />
                            </div>
                        </div>

                        <span class="text-danger field-validation-valid"
                              data-valmsg-for="confirmPassword" data-valmsg-replace="true"></span>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" name="submit" class="button-default button-default-submit" value="Save" />
                        </div>
                    </div>
                </form>
               
                <div class="col-sm-6">
                    @Html.ActionLink("Back To Profile", "Index", "Profile", null, new { @class = "tag-btn" })
                </div>
            </div>

        </div>
</div>